## Estructura de datos, programacion estructurada y funciones 
- **Autor**: Esteban Cordova
- **Fecha**: 23/12/24

In [1]:
milista1 = [1,2,3,4,5]
milista1

[1, 2, 3, 4, 5]

In [2]:
milista1[0]

1

In [3]:
milista1[4]

5

In [4]:
milista[2]

NameError: name 'milista' is not defined

In [5]:
milista1[2]

3

In [6]:
milista1[-1]

5

In [7]:
milista1[-2]

4

In [10]:
milista2 = [5,3,2,4,1]
milista2

[5, 3, 2, 4, 1]

In [11]:
milista2.append(7)

In [12]:
milista2

[5, 3, 2, 4, 1, 7]

In [13]:
milista2.pop(1)
milista2

[5, 2, 4, 1, 7]

In [14]:
milista2.sort()
milista2

[1, 2, 4, 5, 7]

In [15]:
milista2.sort(reverse=True)
milista2

[7, 5, 4, 2, 1]

In [16]:
milista2.index(2)

3

In [ ]:
# slicing
# milista2[inicio(inclusive):final(noincluido):paso]
# si el inicio no se especifica por defecto es 0 
# si el final no se especifica por defecto es el ultimo elemento
# si el paso no se especifica por defecto es 1

In [17]:
milista2[0:2:1]

[7, 5]

In [18]:
milista2[:2]

[7, 5]

In [19]:
milista2[1:3]

[5, 4]

In [20]:
milista2[3:]

[2, 1]

In [21]:
milista2[0:3:2]

[7, 4]

In [24]:
milista2[1:6:3]

[5, 1]

In [28]:
milista2[::3]

[7, 2]

In [29]:
milista2[::-1]
# esto sirve para invertir una lista

[1, 2, 4, 5, 7]

In [30]:
milista2[:2:-1]

[1, 2]

In [31]:
milista3 = ["pera","uva","manzana","pera","platano"]
milista3

['pera', 'uva', 'manzana', 'pera', 'platano']

In [32]:
milista3.count("pera")

2

In [33]:
milista3.count("uva")

1

In [34]:
milista3.count("papaya")

0

In [35]:
milista3[4] = "papaya"
milista3

['pera', 'uva', 'manzana', 'pera', 'papaya']

In [36]:
milista4 = list((3,4,5))
milista4

[3, 4, 5]

In [37]:
midict1 = {"age":22,"name":"Diana"}
midict1

{'age': 22, 'name': 'Diana'}

In [38]:
midict1["age"]

22

In [39]:
midict1["name"]

'Diana'

In [40]:
midict1["last_name"]

KeyError: 'last_name'

In [41]:
midict1.get("last_name","no_key")

'no_key'

In [42]:
midict1.keys()

dict_keys(['age', 'name'])

In [43]:
midict1.values()

dict_values([22, 'Diana'])

In [44]:
midict2 = {"age":22,"name":"Eve","age":24}
midict2

{'age': 24, 'name': 'Eve'}

In [45]:
midict2["age"] = 23
midict2

{'age': 23, 'name': 'Eve'}

In [46]:
midict2.items()

dict_items([('age', 23), ('name', 'Eve')])

In [47]:
var1 = 3
str(var1)

'3'

In [48]:
type(var1)

int

In [49]:
var1

3

In [50]:
len(midict1)

2

In [51]:
len(milista2)

5

In [52]:
range(3) # contiene 0,1,2

range(0, 3)

In [53]:
var2 = range(1,5)
var2

range(1, 5)

In [59]:
lista1 = ["Diana","Eve","Alan"]
lista2 = [22,23,25]
iterable1 = zip(lista1,lista2)
iterable1

In [60]:
iterable2 = list(iterable1)

iterable2

[('Diana', 22), ('Eve', 23), ('Alan', 25)]

In [61]:
iterable2[0]

('Diana', 22)

In [62]:
iterable2[0][0]

'Diana'

In [63]:
iterable2[0][1]

22

In [64]:
print("Hello")
print("Goodbye")
print("Gone")

Hello
Goodbye
Gone

In [65]:
if "uva" in milista3:
    print("la uva esta en la lista")
else: 
    print("la uva no esta en la lista")

la uva esta en la lista

In [66]:
if "ciruela" in milista3:
    print("la ciruela esta en la lista")
else: 
    print("la ciruela no esta en la lista")

la ciruela no esta en la lista

In [67]:
if 3<2:
    print("tres es menor que dos")
elif 3==2:
    print("tres es igual a dos") 
else:
    print("tres es mayor a dos")

tres es mayor a dos

In [68]:
if 7 in milista2:
    if 4 in milista2:
        print("el siete y el cuatro estan en la lista")
    else:
        print("solo el siete esta en la lista")
else:
    print("el siete no esta en la lista")

el siete y el cuatro estan en la lista

In [69]:
for i in milista3:
    print(i)

pera
uva
manzana
pera
papaya

In [70]:
for fruta in milista3:
    if fruta !="uva":
        print(fruta)

pera
manzana
pera
papaya

In [71]:
i = 5
while i != 0:
    print(i)
    i = i - 1

5
4
3
2
1

In [72]:
def function1():
    print("Hello World")

In [73]:
function1()

Hello World

In [74]:
def function2(name):
    print(f"Hello {name}")

In [75]:
function2("Peter")

Hello Peter

In [76]:
def square(x):
    return x*x

In [77]:
square(3)

9

el numero pi es un numero irracional que aproximadamente equivale a 3.14159..., para calcularlo podemos utilizar la formula de Leibniz que es pi = 4*(1-1/3+1/5-1/7+1/9-...) calcularemos este valor utilizando python

In [78]:
def calculate_pi(iterations):
    mipi = 0
    numerator = 1
    denominator = 1
    for k in range(iterations):
        mipi = mipi + numerator/denominator
        numerator = numerator * -1
        denominator = denominator + 2 
    return 4 * mipi

In [84]:
calculate_pi(100000)

3.1415826535897198